body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }

.container {
  width: 1170px;
  margin: 0 auto; }

h1 {
  font-weight: normal; }

hr {
  border: none;
  border-bottom: 2px solid #ddd;
  margin-bottom: 20px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.fs-btn {
  cursor: pointer;
  display: inline-block;
  border: none;
  padding: 10px 14px;
  border-radius: 3px;
  background: #72A72A;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: background-color 0.25s ease-out;
  -moz-transition: background-color 0.25s ease-out;
  -o-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
  text-decoration: none; }
  .fs-btn:hover {
    color: #fff;
    background: #ff7700;
    text-decoration: none; }
