@import 'variables.scss';
@import 'mixins.scss';
@import 'layout.scss';

// first button style
.btn-1 {
  // value overwrite
  $theme-color: #E25924;

  border: none;
  background: $theme-color;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
  padding: 10px 20px;
  border-radius: 2px;
  color: lighten(#E25924, 40%);
  cursor: pointer;
  @include transition(.25s, cubic-bezier(0.950, 0.050, 0.795, 0.035));
  box-shadow: 0 2px 5px rgba(0,0,0,.4);
  &:hover {
    border-radius: 18px;
    background: #fff;
    color: $theme-color;
  }
}

// second button style
.btn-2 {
  // style 2
  background: #93b050;
  border: none;
  border-radius: 7px 0 6px;
  color: #414141;
  display: inline-block;
  font-size: 14px;
  padding: 5px 15px;
  text-decoration: none;
  border-bottom: 3px solid #d782e2;
  &:hover, 
  &:focus {
    border-radius:  0 5px 0 5px;
    transition: all 0.5s ease 0s;
    box-shadow: 3px -3px 0 #fdfdfd;
  }

}
// thrir page style 
.button {
  display: block;
  margin: 100px auto;
  width: 200px;
  position: relative;
  a {
    background: #20c1d5;
    color: #414141;
    display: block;
    height: 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    padding: 15px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    }
  p {
      border-radius: 10px;
      background: #222;
      color: #fff;
      display: block;
      height: 40px;
      padding: 10px 0;
      margin: -50px 0 0 10px;
      position: absolute;
      text-align: center;
      transition: margin 0.2s ease 0s;
      width: 180px;
      z-index: -1;
      text-transform: capitalize;
    }
    &:hover .left {
      margin: -45px 0 0 202px;
    }
    &:hover .right {
      margin: -45px 0 0 -180px;
    }
    &:hover .bottom {
      margin: 2px 0 0 10px;
    }
    &:hover .top {
      margin: -89px 0 0 10px;
    }
}

