@import 'variables.scss';
@import 'mixins.scss';
@import 'layout.scss';

// default
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fs-btn {
  cursor: pointer;
  display: inline-block;
  border: $btn-border;
  padding: $padding;
  border-radius: $border-radius;
  background: $bg-color;
  color: $text-color;
  @include fs-style;
  text-decoration: none;
}
