@mixin transition($duration:.2s, $transition-timing: ease-out) {
  -webkit-transition: all $duration $transition-timing;
  -moz-transition: all $duration $transition-timing;
  -o-transition: all $duration $transition-timing;
  transition: all $duration $transition-timing;
}